@page
@model LanguageClient.Pages.Admin.RatesModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- partial -->
<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <div class="d-flex sidebar-profile">
                <div class="sidebar-profile-image">
                    <img src="~/assets/images/faces/face29.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                </div>
                <div class="sidebar-profile-name">
                    <p class="sidebar-name">
                        Kenneth Osborne
                    </p>
                    <p class="sidebar-designation">
                        Welcome
                    </p>
                </div>
            </div>
           
            <p class="sidebar-menu-title mt-3">Menu</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Index">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/UserList">
                <i class="typcn typcn-user-outline menu-icon"></i>
                <span class="menu-title">User List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Feedback">
                <i class="typcn typcn-message-typing menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>
             <li class="nav-item active">
            <a class="nav-link" href="/Admin/Rates/">
                <i class="typcn typcn-star-full-outline menu-icon"></i>
                <span class="menu-title">Rating</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
               aria-controls="charts">
                <i class="typcn typcn-chart-bar-outline menu-icon"></i>
                <span class="menu-title">Overview Statistics</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
          <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/AccountsAnalysis">
                            Accounts
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/UsersAnalysis">
                            Users
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/LanguagesAnalysis">
                            Languages
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/ScreensAnalysis">
                            Screens
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-page="/Charts/TranslationAnalysis">
                            Translations
                            Analysis
                        </a>
                    </li>
                </ul>
            </div>
    </ul>
</nav>


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card feedback_list_container">
                    <div class="card-body">
                        <h4 class="card-title">Rating Table</h4>
                        <p class="card-description">
                            List of all rating about Free Languages app.
                        </p>
                                @foreach (var rating in Model.Rates)
                                    {
                                      <div class="card text-dark">
                                            <div class="card-body p-3">
                                                 <div class="d-flex flex-start">
                                                         <div class="ele-img">
                                                            @foreach(var i in Model.Users){
                                                   
                                                                        if(rating.UserId == i.UserId){
                                                                    
                                                                            <img class="rounded-circle shadow-1-strong me-3" src="http://api-languagefree.cosplane.asia/api/Image/@i.ImageUser" alt="avatar" width="60" height="60" />
                                                                    }
                                                            }
                                                        </div>
                                                    
                                                            <div class=" ml-3">
                                                                @foreach(var k in Model.Users){
                                                                     if(rating.UserId == k.UserId){
                                                                         <h3 class="fw-bold mb-1"> @k.FullName 
                                                                       
                                                                         </h3>
                                                                        }
                                                                    }   
                                       
                                        <div class="d-flex align-items-center mb-2 date-feedback">
                                            <p class="mb-0 text-black-50">
                                              @rating.Timestamp.ToString("MMMM dd, yyyy")
                                            </p>

                                        </div>
                                        <style>span.fa.fa-star {
                                                color: darkgrey;
                                            }
                                            span.fa.fa-star.checked {
                                                color: yellow;
                                            }
                                            </style>
                                        <p class="mb-0 limit-text star-container">
                                                @foreach(var l in Model.Users)
                                                {
                                                    if(rating.UserId == l.UserId)
                                                    {
                                                        foreach(var r in Model.Rates)
                                                        {
                                                            if(rating.RateId == r.RateId) {
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                @if (i <= r.RateNum)
                                                                {
                                                                    <span class="fa fa-star fa-2x checked"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-star fa-2x"></span>
                                                                }
                                                            }
                                                            
                                                            // Đảm bảo chỉ lặp qua một lần
                                                            break;
                                                        }
                                                        }
                                                    }
                                                }
                                            @* <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> *@
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-0" />
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">
                Copyright © <a href="#"
                               target="_blank">bootstrapdash.com</a> 2020
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Free <a href="#"
                        target="_blank">Bootstrap dashboard </a>templates
                from
                Bootstrapdash.com
            </span>
        </div>
    </footer>
</div>